
.imagine {
    width: 500px;
    height: 200px;
    margin-right: -200px;
}

.text {
    position:absolute;
    color:blue;
    padding: 40px;
    font-size:36px;
    text-transform: inherit;
    font-weight: bold;
    margin-top: -1050px;
}

.buton:link {
    text-decoration:none;
    font-family:cursive;
    position:absolute;
    padding: 10px 30px;
    padding-bottom: 10px;
    background-color:rgb(93,0,206);
    color:rgb(216, 253, 1);
    text-align: center;
    font-weight: bold;
    display:inline-block;
    margin-top: -427px;
    margin-left: 5px;
    font-size:25px;
    font-size:x-large;
}

  
.buton:visited {
    background-color: rgb(226,255,28);
    color: rgb(29,1,0);
}

.buton:hover {
    background-color:rgb(253,131,172);
    color:rgb(20,1,0);
}

.buton:active {
    background-color: rgb(255,115,68);
    color: rgb(62,237,83);
}

form {
    text-align: left;
    margin-left: 2vh;
}

.home:link {
    font-family:cursive;
    text-decoration:none;
    background-color:rgb(216, 253, 1);
    color: rgb(93,0,206);
    padding: 15px 20px;
    text-align: center;
    margin-left: 620px;
    font-weight: bold;
    display: inline-block;
    font-size:25px;
}

.home:visited {
    background-color: rgb(226,255,28);
    color: rgb(29,1,0);
}

.home:hover {
    background-color:rgb(253,131,172);
    color:rgb(20,1,0);
}

.home:active {
    background-color: rgb(255,115,68);
    color: rgb(62,237,83);
}

.buton1:link {
    font-family:cursive;
    text-decoration:none;
    background-color:rgb(216, 253, 1);
    color: rgb(93,0,206);
    padding: 20px 40px;
    text-align: center;
    margin-left: 1550px;
    bottom:1500px;
    font-weight: bold;
    display: inline-block;
    font-size:25px;
}

.buton1:visited {
    background-color: rgb(226,255,28);
    color: rgb(29,1,0);
}

.buton1:hover {
    background-color:rgb(253,131,172);
    color:rgb(20,1,0);
}

.buton1:active {
    background-color: rgb(255,115,68);
    color: rgb(62,237,83);
}

.subtitlu {
    font-family:cursive;
    position:absolute;
    background-color:yellow;
    color:black;
    text-align:left;
    font-weight:bold;
    padding: 15px 700px;
    margin-right:-100px;
}

.spa»õiere {
    text-align:left;
    font-family:cursive;
    margin-left: 490px;
    font-weight:bold;
    color:darkblue;
}

.sageataDreapta:link {
    padding: 20px 20px;
    background-color: rgb(214, 39, 0);
    color: rgb(1, 0, 0);
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 40px;
    text-align: left;
    float:right;
}

.sageataDreapta:visited {
    background-color: rgb(55, 159, 219);
    color: rgb(255, 206, 1);
}

.sageataDreapta:hover {
    background-color: rgb(142, 52, 233);
    color: rgb(72, 56, 50);
}

.sageataDreapta:active {
    background-color: rgb(139, 66, 71);
    color: rgb(1, 1, 170);
}

.sageataStanga:link {
    position:relative;
    padding: 20px 20px;
    background-color: rgb(214, 39, 0);
    color: rgb(1, 0, 0);
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
    text-align: left;
}

.sageataStanga:visited {
    background-color: rgb(55, 159, 219);
    color: rgb(255, 206, 1);
}

.sageataStanga:hover {
    background-color: rgb(142, 52, 233);
    color: rgb(72, 56, 50);
}

.sageataStanga:active {
    background-color: rgb(139, 66, 71);
    color: rgb(1, 1, 170);
}

.buton2:link {
    position:absolute;
    font-family:cursive;
    text-decoration:none;
    margin-top: -320px;
    background-color:chartreuse;
    color: rgb(93,0,206);
    padding: 20px 70px;
    margin-left:1500px;
    font-weight: bold;
    display: inline-block;
    font-size:25px;
}

.buton2:visited {
    background-color:chartreuse;
    color: rgb(29,1,0);
}

.buton2:hover {
    background-color:rgb(253,131,172);
    color:rgb(20,1,0);
}

.buton2:active {
    background-color: rgb(255,115,68);
    color: rgb(62,237,83);
}

.buton3:link {
    font-family:cursive;
    text-decoration:none;
    background-color:chartreuse;
    color: rgb(93,0,206);
    padding: 20px 70px;
    text-align: center;
    float:left;
    margin-top: -315px;
    position: relative;
    font-weight: bold;
    display: inline-block;
    font-size:25px;
}

.buton3:visited {
    background-color:chartreuse;
    color: rgb(29,1,0);
}

.buton3:hover {
    background-color:rgb(253,131,172);
    color:rgb(20,1,0);
}

.buton3:active {
    background-color: rgb(255,115,68);
    color: rgb(62,237,83);
}

.linc {
    position:relative;
    font-family: cursive;
    color: black;
    font-size:25px;
    font-weight: bold;
    margin-left:1590px;
}

.multiline {
    font-family: cursive;
    color:black;
    margin-top: -55px;
    font-size:25px;
    font-weight:bold;

}